[submodule "oe-core"]
	path = layers/oe-core
	url = ../oe-core
	branch = wr-8.0-20151119-no-cups
[submodule "wrlinux"]
	path = layers/wrlinux
	url = https://github.com/WindRiver-OpenSourceLabs/wrlinux
	branch = LB13_8.0_RCPL0001
[submodule "wr-kernel"]
	path = layers/wr-kernel
	url = https://github.com/WindRiver-OpenSourceLabs/wr-kernel
	branch = LB13_8.0_RCPL0001
[submodule "wr-base"]
	path = layers/wr-base
	url = https://github.com/WindRiver-OpenSourceLabs/wr-base
	branch = LB13_8.0_RCPL0001
[submodule "wr-fixes"]
	path = layers/wr-fixes
	url = https://github.com/WindRiver-OpenSourceLabs/wr-fixes
	branch = LB13_8.0_RCPL0001
[submodule "meta-intel"]
	path = layers/meta-intel
	url = https://github.com/WindRiver-OpenSourceLabs/meta-intel
	branch = pulsar-8
[submodule "xilinx-zynq"]
	path = layers/xilinx-zynq
	url = https://github.com/WindRiver-OpenSourceLabs/xilinx-zynq
	branch = pulsar-8
[submodule "meta-overc"]
	path = layers/meta-overc
	url = https://github.com/WindRiver-OpenSourceLabs/meta-overc
	branch = pulsar-8
[submodule "overc-installer"]
	path = overc-installer
	url = https://github.com/WindRiver-OpenSourceLabs/overc-installer
	branch = pulsar-8
[submodule "meta-openembedded"]
	path = layers/meta-openembedded
	url = ../meta-openembedded
	branch = pulsar-8
[submodule "meta-virtualization"]
	path = layers/meta-virtualization
	url = https://github.com/WindRiver-OpenSourceLabs/meta-virtualization
	branch = pulsar-8
[submodule "oe-meta-go"]
	path = layers/oe-meta-go
	url = https://github.com/WindRiver-OpenSourceLabs/oe-meta-go
	branch = ovp7-20150902
[submodule "qemuarma9"]
	path = layers/qemuarma9
	url = https://github.com/WindRiver-OpenSourceLabs/qemuarma9
	branch = LB13_8.0_RCPL0001
[submodule "qemuarm"]
	path = layers/qemuarm
	url = https://github.com/WindRiver-OpenSourceLabs/qemuarm
	branch = LB13_8.0_RCPL0001
[submodule "wr-tools-debug"]
	path = layers/wr-tools-debug
	url = https://github.com/WindRiver-OpenSourceLabs/wr-tools-debug
	branch = LB13_8.0_RCPL0001
[submodule "fsl-ls10xx"]
	path = layers/fsl-ls10xx
	url = https://github.com/WindRiver-OpenSourceLabs/fsl-ls10xx
	branch = pulsar-8
[submodule "meta-gateway"]
	path = layers/meta-gateway
	url = https://github.com/WindRiver-OpenSourceLabs/meta-gateway
	branch = master
[submodule "vendor-proprietary"]
	path = layers/vendor-proprietary
	url = https://github.com/WindRiver-OpenSourceLabs/vendor-proprietary
	branch = master
[submodule "meta-cloud-services"]
	path = layers/meta-cloud-services
	url = https://github.com/WindRiver-OpenSourceLabs/meta-cloud-services
	branch = pulsar-8
[submodule "meta-security"]
        path = layers/meta-security
        url = https://github.com/WindRiver-OpenSourceLabs/meta-security
        branch = pulsar-8
[submodule "premirrors8"]
	path = premirrors8
	url = https://github.com/WindRiver-OpenSourceLabs/premirrors8
	branch = master
[submodule "wr-hac-agent"]
	path = layers/wr-hac-agent
	url = https://github.com/WindRiver-OpenSourceLabs/wr-hac-agent
	branch = master
[submodule "meta-dpdk"]
	path = layers/meta-dpdk
	url = https://github.com/WindRiver-OpenSourceLabs/meta-dpdk
	branch = pulsar-8
[submodule "layers/meta-secure-env"]
	path = layers/meta-secure-env
	url = https://github.com/WindRiver-OpenSourceLabs/meta-secure-env
	branch = master
[submodule "layers/meta-measured"]
	path = layers/meta-measured
	url = https://github.com/WindRiver-OpenSourceLabs/meta-measured
	branch = pulsar-8
[submodule "intel-apollolake"]
	path = layers/intel-apollolake
	url = https://github.com/WindRiver-OpenSourceLabs/intel-apollolake
	branch = pulsar-8
[submodule "meta-ima"]
	path = layers/meta-ima
	url = https://github.com/WindRiver-OpenSourceLabs/meta-ima
	branch = pulsar-8
[submodule "meta-browser"]
	path = layers/meta-browser
	url = https://github.com/WindRiver-OpenSourceLabs/meta-browser
	branch = pulsar-8
[submodule "layers/meta-erlang"]
	path = layers/meta-erlang
	url = https://github.com/joaohf/meta-erlang.git
	branch = master
[submodule "bitbake"]
	path = layers/bitbake
	url = https://github.com/WindRiver-OpenSourceLabs/bitbake
	branch = wr-8.0-20151119
[submodule "layers/external-binaries"]
	path = layers/external-binaries
	url = https://github.com/WindRiver-OpenSourceLabs/external-binaries
	branch = master
[submodule "layers/wrlabs-integration"]
	path = layers/wrlabs-integration
	url = https://github.com/iguberman/wrlabs-integration
	branch = pulsar-8-no-gnome
